--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1+cu128
torchvision==0.22.1+cu128
av
addict
einops
future
numpy<2
scipy
opencv-python-headless==4.10.0.84
matplotlib
scikit-image
imageio
imageio-ffmpeg
Pillow
pyyaml
requests
timm
tqdm
yapf
